.inicio .contenido-seccion header nav {
    background-color: rgb(73, 58, 106);
}

.inicio .contenido-seccion header .nav-bar {
    background-color: rgb(73, 58, 106);
}

.inicio .contenido-seccion .info .redes a {
    text-decoration-color: currentcolor;
    background-color: rgb(0, 0, 0);
    color: rgb(73, 58, 106);
    border-color: rgb(30, 32, 64);
}

.inicio .contenido-seccion .info .redes a:hover{
    color: #fff;
    background-color: rgb(73, 58, 106);
    box-shadow: 0 0 20px #fff;
}

.inicio .contenido-seccion .foto img {
    border: 5px solid rgb(73, 58, 106);
}

.sobremi .contenido-seccion .fila .col i {
    color: rgb(73, 58, 106);
    border-color: rgb(30, 32, 64);
}

.sobremi .contenido-seccion .especial {
    color: rgb(73, 58, 106);
}

.resumen .contenido-seccion .info .col .titulo {
    color: rgb(73, 58, 106);
    border-color: rgb(30, 32, 64);
}

.contacto .contenido-seccion .fila .col h2 {
    color: rgb(73, 58, 106);
}

.habilidades .contenido-seccion .barra {
    border-color: rgb(30, 32, 64);
}

.habilidades .contenido-seccion .barra .e {
    width: 20px;
    margin-right: 2px;
}